@model TheFitnessApp.Models.WorkoutSession

@{
  Layout = "_FullscreenModalLayout";
  ViewData["Title"] = "Edit Workout Session";
}
@{
  //Note: Add this to the controller later
  //ViewBag.ScheduleStart = schedule.StartDate;
  //ViewBag.ScheduleEnd = schedule.EndDate;
  ViewBag.ScheduleStart = DateTime.Now.Date;
  ViewBag.ScheduleEnd = DateTime.Now.Date.AddMonths(1);
    
  var minDate = ((DateTime)ViewBag.ScheduleStart)
    .ToString("yyyy-MM-ddTHH:mm");
  var maxDate = ((DateTime)ViewBag.ScheduleEnd)
    .ToString("yyyy-MM-ddTHH:mm");
}
            
<div class="text-center text-white rounded-3 mb-4 p-3"
  style="background: linear-gradient(135deg,#7b61ff,#157432);">
  <h3>Edit Workout Session</h3>
</div>

<form asp-action="EditSession" method="post">
  <input type="hidden" asp-for="SessionID" />
  <input type="hidden" asp-for="ScheduleID" />

  <div class="mb-3">
    <label asp-for="StartTime" class="form-label"></label>
    <input asp-for="StartTime" type="datetime-local" 
      class="form-control" min="@minDate" max="@maxDate" />
  </div>

  <div class="mb-3">
    <label asp-for="EndTime" class="form-label"></label>
    <input asp-for="EndTime" type="datetime-local" 
      class="form-control" min="@minDate" max="@maxDate" /> 
  </div>

  <div class="mb-3">
    <label asp-for="TotalCalories" class="form-label"></label>
    <input asp-for="TotalCalories" type="number" 
      class="form-control" />
  </div>

  <div class="d-flex justify-content-between mt-4">
    <button class="btn btn-primary px-4 rounded-pill" type="submit">
      Save
    </button>

    <a asp-controller="Home" asp-action="Upcoming" 
      asp-route-id="@Model.ScheduleID"
      class="btn btn-secondary px-4 rounded-pill">
      Cancel
    </a>
  </div>

</form>


